# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
src/layout/json.hpp
Makefile*
min_pauli_tracker.hpp
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
# etch directories
/.idea
/cmake-build-debug
/dist-newstyle
/tests

# Vim temporary files
.*.swp

# Binaries
# --------
*.dll
*.exe
